html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* For consistent sizing */
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    height: 100%;
    background-color: rgb(230, 230, 230);
}
